{% extends "base.html" %}

{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <!-- Image sign up -->
        <div class="col-md-6 my-5">
            <img src="{% static 'images/login-photo.png' %}" class="img-fluid" alt="Imagem">
        </div>
        <div class="col-md-6 my-5">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="letter-lightorange mt-2">{% trans "Sign In" %}</h3>

                    <p class="h6 letter-white mb-5">{% blocktrans %}Welcome back to RoomFinder Ireland! To access all features and engage with the community, log in. 
                        If you don't have an account yet, then <a class="h5 nav-green letter-lightorange" href="{{ signup_url }}">sign up</a> first.
                        Here you can list an available room you have or find the perfect room for you. This is the place to find your space.
                        {% endblocktrans %}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form class="login h6 letter-white" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button id="custom-btn" class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}