{% extends "base.html" %}

{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container theme-color-lightgreen rounded-lg shadow-lg">
    <div class="row custom-padding-top-bottom mt-5 mb-5 custom-padding rounded-lg shadow-lg">
        <!-- Image sign up -->
        <div class="col-md-6 my-5 d-flex justify-content-center">
            <img src="{% static 'images/login-photo.png' %}" class="img-fluid rounded-circle rounded-lg shadow-lg" alt="Imagem">
        </div>
        <div class="col-md-6 my-5 bg-light rounded-lg shadow-lg">
            <div class="row mt-5">
                <div class="col-md-12">
                    <h5 class="letter-darkorange"><strong>{% trans "Sign In" %}</strong></h5>

                    <p class="h6 letter-darkgreen mb-2">{% blocktrans %}Welcome back to <strong><span class="letter-darkgreen">RoomFinder <span class="letter-darkorange">Ireland!</span></span></strong> To access all features and engage with the community, log in. 
                        If you don't have an account yet, then <strong><a class="nav-green letter-darkorange" href="{{ signup_url }}">"sign up"</a> </strong> first.
                        Here you can list an available room you have or find the perfect room for you. This is the place to find your space.
                        {% endblocktrans %}</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <form class="login h6 letter-darkgreen" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <div class="d-flex justify-content-center mt-5 mb-5">
                            <button id="custom-btn" class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}