{% extends "base.html" %}

{% load static%}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <!-- Image -->
      <div class="col-md-6 my-5 d-flex justify-content-center">
        <img src="{% static 'images/room01.webp' %}" class="img-fluid" alt="Imagem">
      </div>
  
      <!-- Content -->
      <div class="col-md-6 my-5">
        <div class="text-justify">
          <h3 class="letter-lightorange">{% trans "Sign Out" %}</h3>
  
          <p class="h6 letter-white">{% trans 'Are you sure you want to sign out?' %}</p>
  
          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button id="custom-btn" class="btn btn-primary" type="submit">{% trans 'Sign Out' %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}