@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Noto+Sans:wght@100&family=Permanent+Marker&family=Roboto&display=swap')

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    min-height: 100vh;
    background-color: #02733e;
}

li, a {
    color: #f25c05;
    font-size: 1.2rem;
    text-decoration: none;
}

.nav-link:hover {
    color: #f27405;
}

.logo-img {
    width: 400px;
    height: auto;
}




/* ------------------------------------------------------------ Theme colour */
.theme-color-lightgreen{
    background-color: #03a64a;
}

.theme-color-darkgreen{
    background-color: #02733e;
}

.theme-color-lightorange{
    background-color: #f27405;
}

.theme-color-darkorange{
    background-color: #f25c05;
}
.theme-color-white{
    background-color: #f2f2f2;
}

.letter-darkgreen{
    color: #02733e
}

.letter-darkorange{
    color: #f25c05
}


/* ------------------------------------------------------------ General */

hr {
    border: 2px solid #f25c05;
}

/* ------------------------------------------------------------ Jumbotron */
.jumbotron {
    margin-bottom: 0;
    border-radius: 0;
}

/* ------------------------------------------------------------ Footer */
