@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Noto+Sans:wght@100&family=Permanent+Marker&family=Roboto&display=swap')

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    min-height: 100vh;
    background-color: #02733e;
}

/* li, a {
    color: black;
    font-size: 1 rem;
    text-decoration: none;
} */

/* ------------------------------------------------------------ Nav bar */
.navbar-nav .nav-link {
    color: #02733e;
    font-size: 1.3rem;
}

.navbar-nav .nav-link:hover {
    color: #f25c05;
}

.nav-orange:hover {
    color: #f27405;
    text-decoration: none;
}

.nav-green:hover {
    color: #03a64a;
    text-decoration: none;
}

.logo-img {
    width: 400px;
    height: auto;
}

.custom-display-3 {
    font-size: 1.7rem;
}

/* ------------------------------------------------------------ buttons */
#custom-btn {
    color:#f2f2f2;
    background-color: #f27405;
    border: #f27405;
}

#custom-btn:hover {
    color:#f27405;
    background-color:#f2f2f2;
    border: #f27405;
}

#custom-btn:active {
    color: #f2f2f2 !important;
    background-color: #f27405 !important;
    border: #f27405 !important;
}

#custom-btn-delete {
    color:#f2f2f2;
    background-color: #f27405;
    border: #f27405;
}

#custom-btn-delete:hover {
    color:#f2f2f2;
    background-color: red;
    border: #f27405;
}

#custom-btn-approve {
    color:#f2f2f2;
    background-color: #f27405;
    border: #f27405;
}

#custom-btn-approve:hover {
    color:#f2f2f2;
    background-color: #02733e;
    border: #f27405;
}


/* ------------------------------------------------------------ Theme colour */
.theme-color-lightgreen{
    background-color: #03a64a;
}

.theme-color-darkgreen{
    background-color: #02733e;
}

.theme-color-lightorange{
    background-color: #f27405;
}

.theme-color-darkorange{
    background-color: #f25c05;
}
.theme-color-white{
    background-color: #f2f2f2;
}

.letter-darkgreen{
    color: #02733e;
}

.letter-darkorange{
    color: #f25c05;
}

.letter-lightorange{
    color: #f27405;
}

.letter-white{
    color: #f2f2f2;
}


/* ------------------------------------------------------------ General */

hr {
    border: 2px solid #f25c05;
}

.custom-color-white {
    color: #f2f2f2;
}

.custom-link {
    color: #f2f2f2;
}

.custom-link:hover {
    text-decoration: none;
    color:#f27405;
}

.custom-padding {
    padding-left: 20px;
    padding-right: 20px;
}

.custom-padding-top-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* ------------------------------------------------------------ Jumbotron */
.jumbotron {
    margin-bottom: 0;
    border-radius: 0;
}

/* ------------------------------------------------------------ Card */
.card-style{
    width: 22rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
}

.custom-img {
    max-width: 90%;
    height: auto;
}

/* ------------------------------------------------------------ Carousel Index page */

.carousel-item img {
    height: auto;
    width: 100%;
    border-bottom: 10px solid #f25c05;
    border-top: 10px solid #f25c05;
}