{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- index.html content starts here -->

<div class="jumbotron bg-color">
    <div class="row">
        <div class="col-md-9">
            <p class="display-4 text-center"><span class="letter-darkgreen">RoomFinder</span> <span class="letter-darkorange">Ireland</span></p>
            <p class="lead text-right"><strong class="letter-darkorange">...helping you find the perfect room!</strong></p>
        </div>
    </div>
    <hr class="my-4">
    <div class="container d-flex justify-content-center">
        <img src="{% static 'images/room01.webp' %}" class="img-fluid custom-img" alt="Responsive image">
    </div>
</div>

<!-- index.html content ends here -->
{% endblock %}