{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- add_room.html content starts here -->

<div class="container theme-color-lightgreen mt-4 mb-4 custom-padding-top-bottom custom-padding">
    <h1 class="letter-darkgreen">+ Add a Room</h1>
    <form method="POST" action="{% url 'add_room' %}" class="needs-validation" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button id="custom-btn" class="btn btn-primary" type="submit">Submit</button>
    </form>
    {% if form.errors %}
    <div class="alert alert-danger">
        <strong>Error:</strong> Please correct the following errors:
        <ul>
            {% for field, error_list in form.errors.items %}
            {% for error in error_list %}
            <li>{{ field|title }}: {{ error }}</li>
            {% endfor %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>

<!-- add_room.html content ends here -->
{% endblock %}


