{% extends "base.html" %}

{% block content %}
<div class="container theme-color-lightgreen mt-4 mb-4 custom-padding-top-bottom custom-padding">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h1 class="letter-darkgreen">Edit Room</h1>
                </div>
                <div class="card-body letter-darkgreen">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.room_image.label_tag }}
                            {{ form.room_image }}
                        </div>
                        <div class="mb-3">
                            {{ form.room_description.label_tag }}<br>
                            {{ form.room_description }}
                        </div>
                        <div class="mb-3">
                            {{ form.owner_phone.label_tag }}
                            {{ form.owner_phone }}
                        </div>
                        <div class="mb-3">
                            {{ form.room_type.label_tag }}
                            {{ form.room_type }}
                        </div>
                        <div class="mb-3">
                            {{ form.room_location.label_tag }}
                            {{ form.room_location }}
                        </div>
                        <div class="mb-3">
                            {{ form.price.label_tag }}
                            {{ form.price }}
                        </div>
                        <button type="submit" id="custom-btn" class="btn btn-primary">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}