{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        {% for room in rooms %}
        <div class="card m-2 card-style">
            <img src="{% static 'images/room01.webp' %}" class="card-img-top" alt="room">
            <div class="card-body">
              <h5 class="card-title">Available room in: {{ room.room_location }}</h5>
              <p class="card-text">{{ room.room_description }}</p>
            </div>
            <div class="card-footer">
                <p class="card-text"><strong>{{ room.get_room_type_display }} Room - $ {{ room.price }}</strong></p>
            </div>
            <div class="card-footer">
                <p class="card-text">Contact owner: {{ room.room_owner }} <br> Phone: {{ room.owner_phone }} <br> E-mail: {{ room.owner_email }}</p>
            </div>
            <div class="card-footer d-flex justify-content-end">
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}





