{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- room_finder.html content starts here -->

<div class="container">
    <div class="row justify-content-center">
        {% for room in rooms %}
        <div class="card m-2 card-style">            
            <div class="image-container">
                {% if "placeholder" in room.room_image.url %}
                <img class="card-img-top" src="{% static 'images/room01.webp' %}"
                  alt="placeholder image">
                {% else %}
                <img class="card-img-top" src=" {{ room.room_image.url }}"
                  alt="room">
                {% endif %} 
            </div>
            <div class="card-body">
              <h5 class="card-title">Available room in: {{ room.room_location }}</h5>
              <p class="card-text">{{ room.room_description }}</p>
            </div>
            <div class="card-footer">
                <p class="card-text"><strong>{{ room.get_room_type_display }} Room - $ {{ room.price }}</strong></p>
            </div>
            <div class="card-footer">
                <p class="card-text">Contact owner: {{ room.room_owner }} <br> Phone: {{ room.owner_phone }} <br> E-mail: {{ room.owner_email }}</p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                {% if user.is_superuser %}
                    <!-- Form/button for Approve -->
                    <form action="{% url 'approve_room' room.id %}" method="POST">
                        {% csrf_token %}
                        <button id="custom-btn-approve" class="btn btn-primary" type="submit">Approve</button>
                    </form>
                    <!-- Button for Delete -->
                    <button class="btn btn-danger btn-delete" data-room-id="{{ room.id }}" data-toggle="modal" data-target="#confirmDeleteModal">Delete</button>
                {% elif user.is_authenticated and user == room.room_owner %}
                    <!-- Button for Delete -->
                    <button class="btn btn-danger btn-delete" data-room-id="{{ room.id }}" data-toggle="modal" data-target="#confirmDeleteModal">Delete</button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Modal to confirm deletion -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this room?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<!-- room_finder.html content ends here -->

{% endblock %}